<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Blog</title>
    <link rel ="stylesheet" href ="css/home.css">
</head>
<body>
    <div id ="form-container">
    <h1>Create a New Post</h1>
    <form method="POST" action="/submit">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="content" placeholder="Content">
        <% if (errors) { %>
            <ul class="errors">
                <% errors.forEach(error => { %>
                    <li><%= error %></li>
                <% }); %>
            </ul>
        <% } %>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>